#body-login {
background: #003366;
filter:none; /* IE 8 */
}

#header .logo {
    background-image: url(../img/logo.png);
    width: 440px;
    height: 198px;
    position: relative;
    top: 50%;
    transform: translateX(-10%);
}

#header .logo-icon {
    background-image: url(../img/small_logo.png);
    vertical-align: middle;
    height: 26px;
}

#body-user #header, #body-settings #header, #body-public #header {
background-color: #003366;
}